.pricehome {
  padding: 80px 0;

  .Pcontainer {
    max-width: 85%;
    margin: auto;

    .items {
      box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
      background-color: #fff;
      padding: 40px;
      text-align: center;

      h1 {
        font-size: 50px !important;
        margin: 20px 0;
        color: #495050;

        span {
          font-size: 20px !important;
          margin-right: 5px;
          color: black;
        }
      }
      p {
        color: grey;
        margin: 40px 0;
      }
    }
  }
}
/* -----Responsiveness-------- */
@media screen and (max-width: 1024px) {
  .pricehome {
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media screen and (max-width: 840px) {
  .pricehome .Pcontainer {
    max-width: 95%;

    .items {
      padding: 30px;

      h1 {
        font-size: 40px !important;
      }
      p {
        margin: 30px 0;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .pricehome {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media screen and (max-width: 520px) {
  .pricehome {
    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .pricehome .Pcontainer {
    max-width: 85%;
    .items {
      padding: 30px;
      width: 80%;
      h1 {
        font-size: 30px !important;
      }
      p {
        font-size: 18px !important;
      }
    }
  }
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 400px) {
  .pricehome .Pcontainer {
    max-width: 85%;
    .items {
      padding: 20px;
      width: 100%;
    }
  }
}
@media screen and (max-width: 320px) {
}
